<mat-card class="main-card" id="initiative-recording-main-card">
    <form (ngSubmit)="onSubmit()">
        <mat-card class="loosely-spaced" *ngFor="let commander of commanders; index as i">
            <mat-label>Record initiative result (n° of successes) for commander {{commander.name}}</mat-label>
            <br/>
            <mat-form-field>
                <input id="initiative-recording-input-{{i}}" [(ngModel)]="commander.initiative" matInput type="number" name="{{commander.name}}" required>
            </mat-form-field>
        </mat-card>
        <button id="initiative-recording-next-button" mat-raised-button color="primary" class="wide-button">Next</button>
    </form>
</mat-card>