<mat-card class="main-card" id="objective-selection-main-card">
    <form (ngSubmit)="onSubmit()">
        <mat-card class="loosely-spaced" *ngFor="let army of battle.involvedArmies; index as i">
            <mat-label>Record strategic objective chosen by commander <b>{{army | leaderNameById:army.commanderId}}</b> for this round</mat-label>
            <br/>
            <mat-form-field>
                <input id="objective-selection-input-{{i}}" [(ngModel)]="roundState.currentObjectivePerArmyId[army.id].name" matInput name="obj-{{army.commanderId}}" required>
            </mat-form-field>
        </mat-card>
        <button id="objective-selection-next-button" mat-raised-button color="primary" class="wide-button">Next</button>
    </form>
</mat-card>