<mat-card class="main-card">
    <form (ngSubmit)="onSubmit()">
        <mat-card class="loosely-spaced" *ngFor="let army of battle.involvedArmies">
            <mat-label>Pick a commander for army "{{army.name}}"</mat-label>
            <br/>
            <mat-form-field>
                <mat-select [(ngModel)]="army.commander" name="{{army.name}}" required>
                <mat-option *ngFor="let leader of army.leaders" [value]="leader">
                    {{leader.name}}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card>
        <button mat-raised-button color="primary" class="wide-button">Next</button>
    </form>
</mat-card>