
<mat-card class="main-card">
    <form [formGroup]="newBattleForm" class="full-width">
        <mat-form-field class="full-width">
          <mat-label>Name of the battle</mat-label>
          <input matInput formControlName="name" placeholder="Ex. The Battle of Twilight Mountain" required>
        </mat-form-field>
      
        <mat-form-field class="full-width">
          <mat-label>Description of the battle</mat-label>
          <textarea matInput formControlName="description" placeholder="A brief description of the battle (motives, involved parties)" required></textarea>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" (click)="onSubmit()" class="wide-button">Next</button>
      </form>
</mat-card>
