.smaller-fab-button {
    margin-left: 1vw;
    width: 3vw;
    height: 3vw;
    vertical-align: middle;
    line-height: normal;
    padding: 0 !important;
}

.smaller-fab-button-icon {
    padding: 0 !important;
}