<mat-card class="main-card" id="available-battles-main-card">
    <div *ngIf="availableBattles && availableBattles.length" id="available-battles-list-container">
        <mat-card class="loosely-spaced" *ngFor="let battle of availableBattles; index as i" id="available-battles-battle-{{i}}" (click)="resumeBattle(battle)">
            {{battle.name}}, <b>Round: </b> {{battle.lastCompletedRound}}
        </mat-card>
    </div>
    <div *ngIf="!availableBattles || !availableBattles.length" id="available-battles-no-records-container">
        No records to display
    </div>
</mat-card>