<mat-card class="main-card" id="available-battles-main-card">
    <div *ngIf="availableBattles && availableBattles.length" id="available-battles-list-container">
        <mat-card class="loosely-spaced clickable" *ngFor="let battle of availableBattles; index as i" id="available-battles-battle-{{i}}" (click)="resumeBattle(battle)">
            <b>{{battle.name}}</b>
            <span *ngIf="battle.lastCompletedRound || battle.lastCompletedRound===0"> - last played round: {{battle.lastCompletedRound}}</span>
            <span *ngIf="!battle.lastCompletedRound && battle.lastCompletedRound!==0"> - not started yet</span>
        </mat-card>
    </div>
    <div *ngIf="!availableBattles || !availableBattles.length" id="available-battles-no-records-container">
        No records to display
    </div>
</mat-card>