
<mat-card class="main-card">
    <a mat-raised-button color="primary" routerLink="/new-battleEntity/name-description" class="wide-button">New Battle</a>
    <a mat-stroked-button color="primary" routerLink="/resume-battleEntity/available-battles" class="wide-button">Resume Battle</a>
    <a mat-stroked-button color="primary" routerLink="/play-battleEntity/initiative/commander-selection" class="wide-button">Test initiative phase</a>
    <a mat-stroked-button color="primary" routerLink='/play-battleEntity/rounds/objective-selection' class="wide-button">Test rounds phase</a>
    
</mat-card>