{{#tags}}

## {{#ifEquals name 'Next release'}} *{{name}}* {{else}} [{{name}}](https:github.com/{{ownerName}}/{{repoName}}/tags/{{name}}) ({{tagDate}}) {{/ifEquals}}

    {{#ifContainsType commits type='feat'}}
### Features
        {{#commits}}
            {{#ifCommitType . type='feat'}}
 - {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hash}}))
            {{/ifCommitType}}
        {{/commits}}
    {{/ifContainsType}}

    {{#ifContainsType commits type='refactor'}}
### Changes
        {{#commits}}
            {{#ifCommitType . type='refactor'}}
 - {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hash}}))
            {{/ifCommitType}}
        {{/commits}}
    {{/ifContainsType}}

    {{#ifContainsType commits type='fix'}}
### Bug Fixes
        {{#commits}}
            {{#ifCommitType . type='fix'}}
 - {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hash}}))
            {{/ifCommitType}}
        {{/commits}}
    {{/ifContainsType}}
{{/tags}}
